In [66]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.datasets as dataset
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import mutual_info_classif,mutual_info_regression

In [52]:
datos=dataset.load_diabetes()

In [53]:
datos.feature_names

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

In [54]:
df=pd.DataFrame(data=datos.data,columns=datos.feature_names)
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     442 non-null    float64
 1   sex     442 non-null    float64
 2   bmi     442 non-null    float64
 3   bp      442 non-null    float64
 4   s1      442 non-null    float64
 5   s2      442 non-null    float64
 6   s3      442 non-null    float64
 7   s4      442 non-null    float64
 8   s5      442 non-null    float64
 9   s6      442 non-null    float64
dtypes: float64(10)
memory usage: 34.7 KB

In [55]:
df

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064

In [56]:
df.duplicated().sum()

np.int64(0)

In [57]:
x=df
y=datos.target

In [58]:
scalar=StandardScaler()

In [59]:
variabilidad=np.var(df.select_dtypes(include="float64"),axis=0)
variabilidad

age    0.002262
sex    0.002262
bmi    0.002262
bp     0.002262
s1     0.002262
s2     0.002262
s3     0.002262
s4     0.002262
s5     0.002262
s6     0.002262
dtype: float64

In [63]:
df["sexr"]=(df["sex"]>0).astype(int)

In [64]:
x

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,sexr
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,1
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,1
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,0
...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,1
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485,1
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491,1
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930,0
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064,0

In [67]:
mutual_info_regression(x,y)

array([0.        , 0.01437586, 0.17092688, 0.07296956, 0.0687318 ,
       0.01509127, 0.06251055, 0.08156729, 0.14520843, 0.11319334,
       0.01602447])

In [48]:
mi_scores = mutual_info_classif(x, y)
mi_df = pd.DataFrame({
    'caracteristica': x.columns,
    'mutual_info': mi_scores
})

mi_df = mi_df.sort_values('mutual_info', ascending=False).reset_index(drop=True)
mi_df

  caracteristica  mutual_info
0             s3     0.069038
1             s6     0.050806
2             s5     0.045546
3             s4     0.044415
4             bp     0.033931
5            age     0.014408
6             s2     0.000000
7            bmi     0.000000
8             s1     0.000000